:root {
	--white: hsl(0 0% 100%);
	--red-100: hsl(0 84.2% 60.2%);
	--red-200: hsl(12 76% 61%);
	--red-300: hsl(0 62.8% 30.6%);
	--blue-100: hsl(220 14.3% 95.9%);
	--blue-200: hsl(210 20% 98%);
	--blue-300: hsl(220 13% 91%);
	--blue-400: hsl(217.9 10.6% 64.9%);
	--blue-500: hsl(220 8.9% 46.1%);
	--blue-600: hsl(197 37% 24%);
	--blue-650: hsl(215 27.9% 16.9%);
	--blue-700: hsl(220.9 39.3% 11%);
	--blue-800: hsl(224 71.4% 4.1%);
	--dark-blue-100: hsl(220 70% 50%);
	--yellow-100: hsl(43 74% 66%);
	--orange-100: hsl(27 87% 67%);
	--orange-200: hsl(30 80% 55%);
	--green-100: hsl(173 58% 39%);
	--green-200: hsl(160 60% 45%);
	--purple-100: hsl(262.1 83.3% 57.8%);
	--purple-200: hsl(280 65% 60%);
	--purple-300: hsl(263.4 70% 50.4%);
	--dark-pink-100: hsl(340 75% 55%);
}
